@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*animation-loader*/
.box-loader {
  visibility: hidden;
  -webkit-animation: loader 2s;
  animation: loader 2s;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  margin-top: -1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.anim-loader {
  border-radius: 50px;
  border: 7px solid rgba(196, 245, 229, 0.973);
}

.anim-loader::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  bottom: -7px;
  right: -7px;
  border-radius: 50px;
  border: 7px solid transparent;
  border-top-color: black;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: black;
  display: inline-block;
  margin-left: 1.8em;
}

/*end-animation-loader*/
.header {
  background-color: #ffff;
}

.header h1 {
  color: black;
  font-family: 'Shrikhand';
  text-align: center;
}

.map {
  -webkit-box-shadow: 0px -3px 5px 1px RGB(0 0 0/10%);
          box-shadow: 0px -3px 5px 1px RGB(0 0 0/10%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  height: 3em;
  font-size: large;
  position: relative;
  bottom: 1em;
}

.city-map {
  margin-left: 1em;
  margin-right: 1em;
}

.box-parent-title-button {
  background-color: #fafafa;
  padding: 2em;
  margin-top: -2em;
  text-align: center;
}

.box-parent-title-button .title {
  font-weight: 700;
  font-size: 27px;
}

.box-parent-title-button p {
  font-size: 1.1em;
  margin-top: -5px;
}

.box-parent-title-button button {
  border-radius: 25px;
  border: none;
  color: #ffff;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(0.5deg, #9356DC, #FF79DA);
  background-color: #FF79DA;
  height: 50px;
  width: 75%;
  margin-top: 15px;
  margin-bottom: 25px;
  -webkit-box-shadow: 2px 2px 4px grey;
          box-shadow: 2px 2px 4px grey;
  cursor: pointer;
  max-width: 250px;
}

.box-parent-title-button button.btn:hover {
  background-color: #fff;
  -webkit-box-shadow: 0.2em 0.2em 10px RGB(0 0 0/50%);
          box-shadow: 0.2em 0.2em 10px RGB(0 0 0/50%);
}

/*block Operations*/
.block-operation {
  max-width: 1400px;
  margin: auto;
}

.title-operation {
  margin: 0.8em;
  margin-top: 2em;
}

.container-operation {
  padding: 17px;
}

ol {
  counter-reset: operating;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-operation {
  background-color: #f6f6f6;
  -webkit-box-shadow: 4px 1px 10px 0px RGB(5 0 0/18%);
          box-shadow: 4px 1px 10px 0px RGB(5 0 0/18%);
  padding: 25px;
  padding-right: inherit;
  border-radius: 20px;
  width: 100%;
  height: 70px;
  counter-increment: operating;
  list-style-type: none;
  max-width: 400px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-operation.card-operation:hover {
  background-color: #f9e5fc;
}

.card-operation.card-operation:hover .fas {
  color: #9356DC;
}

.card-operation.card-operation:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: counter(operating);
  background: #9356DC;
  color: #ffff;
  padding: 6px;
  width: 4%;
  height: 12px;
  margin: 0px 15px -22px -35px;
  font-size: 11px;
  border-radius: 50%;
  text-align: center;
}

.card-operation .icon-operating {
  color: #7e7e7e;
  padding-left: 13px;
  font-size: 18px;
}

.card-operation .operating-text {
  padding: 15px;
}

/*block Operations*/
/*block Restaurants*/
.block-restaurants {
  background-color: #f6f6f6;
  padding-bottom: 1px;
  max-width: 1400px;
  margin: auto;
}

.title-restaurants {
  margin: 0.8em;
  margin-top: 1.5em;
  padding-top: 50px;
}

.container-restaurants {
  color: black;
}

.container-restaurants .card {
  background-color: #ffff;
  padding-bottom: 30px;
  width: 93%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin: 40px auto;
}

.container-restaurants .text-href-card {
  text-decoration: none;
}

.container-restaurants .background-img {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 220px;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container-restaurants .background-img.background-img-2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.container-restaurants .background-img.background-img-3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.container-restaurants .background-img.background-img-4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.container-restaurants .nouveau {
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  top: 16px;
  right: 10px;
  padding: 9px 10px 9px 10px;
  border-radius: 2px;
  font-weight: 400;
}

.container-restaurants .box-texts {
  line-height: 10px;
  /*heart*/
  /*end-heart*/
}

.container-restaurants .box-texts h3 {
  padding-left: 20px;
  color: black;
  font-weight: 600;
  line-height: 10px;
}

.container-restaurants .box-texts .text-card {
  padding-left: 20px;
  color: black;
  font-weight: 300;
  font-size: 18px;
}

.container-restaurants .box-texts .box-heart {
  padding-right: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2em;
}

.container-restaurants .box-texts .box-heart:hover .heart-full {
  font-size: 1.5em;
  opacity: 1;
  left: 15px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1em;
}

.container-restaurants .box-texts .heart-full {
  font-size: 0;
  color: rgba(147, 27, 177, 0.8);
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: -webkit-sticky;
  position: sticky;
  opacity: 0;
}

.container-restaurants .box-texts .heart {
  font-size: 1.5em;
  color: black;
}

/* end block-restaurants*/
/* footer*/
.container-footer {
  background-color: #353535;
  padding: 20px 0;
}

.container-footer .logo-footer {
  font-family: 'Shrikhand';
  color: #ffff;
  margin: 40px;
}

.container-footer .list-footer {
  list-style-type: none;
  line-height: 1.5em;
}

.container-footer .link-footer {
  text-decoration: none;
  color: #ffff;
  font-style: normal;
}

.container-footer .icon-footer {
  width: 1em;
  padding-right: 15px;
}

/*menu-ohmyfood*/
.menu-page {
  /*menus*/
  /*Keyframes menus*/
}

.menu-page .logo {
  float: left;
  padding-left: 30px;
  padding-top: 10px;
}

.menu-page .icon-logo {
  color: black;
  font-weight: bolder;
  font-size: 1.3em;
}

.menu-page .background-img {
  background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 245px;
  width: 100%;
  max-width: 100%;
  margin-top: -1em;
}

.menu-page .background-img.background-img-2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.menu-page .background-img.background-img-3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu-page .background-img.background-img-4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menu-page .menus {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.menu-page .parent-background {
  background-color: #f6f6f6;
  margin-top: -45px;
  padding: 4px 0 0 20px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.menu-page .title-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-page .title-menu {
  font-family: 'Shrikhand';
  font-weight: 100;
  font-size: 1.6em;
}

.menu-page .box-heart {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}

.menu-page .box-heart:hover .heart-full {
  font-size: 1.5em;
  opacity: 1;
  left: 0px;
  top: 0px;
}

.menu-page .heart-full {
  font-size: 0px;
  color: rgba(147, 27, 177, 0.8);
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0;
}

.menu-page .heart {
  font-size: 1.5em;
}

.menu-page .child-block {
  padding: 3px;
}

.menu-page .title-card {
  font-weight: 300;
  font-size: medium;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  max-width: 370px;
}

.menu-page .title-card:after {
  content: " ";
  width: 11%;
  height: 4px;
  background-color: #99E2D0;
  left: 0;
  bottom: -8px;
  position: absolute;
}

.menu-page .box-card {
  padding-bottom: 5px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.menu-page .href-card-menu {
  text-decoration: none;
}

@-webkit-keyframes glissement {
  from {
    margin-top: -50px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes glissement {
  from {
    margin-top: -50px;
    opacity: 0;
  }
  to {
    margin-top: 0px;
    opacity: 1;
  }
}

/*end-Keyframes menus*/
.card_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffff;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  max-width: 100%;
  height: 65px;
  padding: 0 9px;
  margin: 0 10px 15px -8px;
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 10px 1px RGB(5 0 0/12%);
          box-shadow: 0px 1px 10px 1px RGB(5 0 0/12%);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: glissement;
  animation-name: glissement;
}

.card_menu:hover .box-check {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.card_menu:hover .box-check .check-wrap {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.box-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h4 {
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 3px;
  margin-top: 13px;
}

.item-title {
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.paragraph-card {
  font-weight: normal;
  font-size: 13.2px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 5px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 2.2em;
  margin-right: 2em;
}

.box-check {
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-check .check {
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4em;
  margin-right: -0.6em;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.box-check .check-wrap {
  background-color: white;
  color: #99E2D0;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

/*end-menus*/
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.href-button {
  text-decoration: none;
  color: #ffff;
}

button {
  border-radius: 25px;
  border: none;
  color: #ffff;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(0.5deg, #9356DC, #FF79DA);
  background-color: #FF79DA;
  height: 50px;
  width: 75%;
  margin-top: 15px;
  margin-bottom: 25px;
  -webkit-box-shadow: 2px 2px 4px grey;
          box-shadow: 2px 2px 4px grey;
  cursor: pointer;
  max-width: 250px;
  width: 57%;
  margin: 30px 0 80px 0;
  font-weight: 500;
}

button.btn:hover {
  background-color: #fff;
  -webkit-box-shadow: 0.2em 0.2em 10px RGB(0 0 0/50%);
          box-shadow: 0.2em 0.2em 10px RGB(0 0 0/50%);
}

@media screen and (min-width: 1250px) {
  ol {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /*block-Restaurants*/
  .block-restaurants {
    border-radius: 20px;
  }
  .container-restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container-restaurants .card {
    max-width: 45%;
  }
  /*menu-page*/
  .menu-page .background-img {
    height: 460px;
  }
  .menu-page .box-card {
    margin: 0 10px;
  }
  .menu-page .child-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */